{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }}-Reinitialiser votre mot de passe {% endblock %}	

{% block body_avec_pop_up %}
{% endblock %}

{% block body_sans_pop_up %}
{{parent()}}
{% endblock %}
{% block contenu %}
		<br>
		<h2>Choisissez votre nouveau mot de passe</h2>
		Vous serrez ensuite rediriger vers la page de connexion. Utiliser votre adresse mail et nouveau mot de passe pour vous conncter.
		<div class="registration-grids">
			<div class="reg-form">
				<div class="reg">
					 
					{% if form_errors(formulaire)%}
					 <div class="alert alert-danger">  {{ form_errors(formulaire) }} </div>
					 {% endif %}
					 {% if (message) %}
						<div class="alert alert-warning">  {{ message }} </div>
					 {% endif %}
					 <form  method="post" action="{{path('bds_utilisateur_reinitialiser_mot_de_passe',{'mail':mail,'motDePasse':mdp})}}" {{ form_enctype(formulaire) }}>
						<ul>
							<li class="text-info">Nouveau Mdp* :</li>
							<li>{{ form_widget(formulaire.password) }}</li>
						</ul>
						<ul>
							<li class="text-info">Confirmer nouv Mdp* :</li>
							<li>{{ form_widget(formulaire.confirmationMdp) }}</li>
						</ul>
						
						{{form_rest(formulaire) }}
						 
						 <input type="submit" value="Reinitialiser mot de passe">
						 
					 </form> 

				 </div>
				 
			</div>

			<div class="clearfix"></div>
		</div>
		<br>
{% endblock %}

